{% extends 'base.html.twig' %}

{% block title 'dwira blanca' %}


{% block body %}
   <h1> {{ pluriel(posts|length,'Post','Posts') }} </h1>
   <article>
   {% for post in posts %}
      <h2><a href="{{  path('app_posts_details',{id: post.id }) }}">{{ post.title }}</a></h2>
      <p>Submitted at {{ post.createdAt|ago }}</p>
      {% endfor %}
   </article>
{% endblock %}
 