<footer class="footer container text-center bg-light">
    <span class="text-muted">Visit our page on Instagram
     <a href="https://www.instagram.com/dwira_blanca/?hl=en">@dwira_blanca</a>
     </span>
</footer>